Data/S01_MI/motorimagination_subject1_run1.gdf
Data/S01_MI/motorimagination_subject1_run2.gdf
Data/S01_MI/motorimagination_subject1_run3.gdf
Data/S01_MI/motorimagination_subject1_run4.gdf
Data/S01_MI/motorimagination_subject1_run5.gdf
Data/S01_MI/motorimagination_subject1_run6.gdf
Data/S01_MI/motorimagination_subject1_run7.gdf
Data/S01_MI/motorimagination_subject1_run8.gdf
Data/S01_MI/motorimagination_subject1_run9.gdf
Data/S01_MI/motorimagination_subject1_run10.gdf
Data/S02_MI/motorimagination_subject2_run1.gdf
Data/S02_MI/motorimagination_subject2_run2.gdf
Data/S02_MI/motorimagination_subject2_run3.gdf
Data/S02_MI/motorimagination_subject2_run4.gdf
Data/S02_MI/motorimagination_subject2_run5.gdf
Data/S02_MI/motorimagination_subject2_run6.gdf
Data/S02_MI/motorimagination_subject2_run7.gdf
Data/S02_MI/motorimagination_subject2_run8.gdf
Data/S02_MI/motorimagination_subject2_run9.gdf
Data/S02_MI/motorimagination_subject2_run10.gdf
Data/S03_MI/motorimagination_subject3_run1.gdf
Data/S03_MI/motorimagination_subject3_run2.gdf
Data/S03_MI/motorimagination_subject3_run3.gdf
Data/S03_MI/motorimagination_subject3_run4.gdf
Data/S03_MI/motorimagination_subject3_run5.gdf
Data/S03_MI/motorimagination_subject3_run6.gdf
Data/S03_MI/motorimagination_subject3_run7.gdf
Data/S03_MI/motorimagination_subject3_run8.gdf
Data/S03_MI/motorimagination_subject3_run9.gdf
Data/S03_MI/motorimagination_subject3_run10.gdf
Data/S04_MI/motorimagination_subject4_run1.gdf
Data/S04_MI/motorimagination_subject4_run2.gdf
Data/S04_MI/motorimagination_subject4_run3.gdf
Data/S04_MI/motorimagination_subject4_run4.gdf
Data/S04_MI/motorimagination_subject4_run5.gdf
Data/S04_MI/motorimagination_subject4_run6.gdf
Data/S04_MI/motorimagination_subject4_run7.gdf
Data/S04_MI/motorimagination_subject4_run8.gdf
Data/S04_MI/motorimagination_subject4_run9.gdf
Data/S04_MI/motorimagination_subject4_run10.gdf
Data/S05_MI/motorimagination_subject5_run1.gdf
Data/S05_MI/motorimagination_subject5_run2.gdf
Data/S05_MI/motorimagination_subject5_run3.gdf
Data/S05_MI/motorimagination_subject5_run4.gdf
Data/S05_MI/motorimagination_subject5_run5.gdf
Data/S05_MI/motorimagination_subject5_run6.gdf
Data/S05_MI/motorimagination_subject5_run7.gdf
Data/S05_MI/motorimagination_subject5_run8.gdf
Data/S05_MI/motorimagination_subject5_run9.gdf
Data/S05_MI/motorimagination_subject5_run10.gdf
dataCSV/S01_MI/event_info_S01_run1.csv
